.confirm-container {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    margin: 100px 0;

    > * {
        margin: 20px 0;
    }

    .bus-info,
    .description {
        width: 80vw;
    }

    .bus-info {
        padding: 0 10px;
        margin: 0;
        font-size: .8rem;

        strong {
            font-size: 1.1rem;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        span {
            font-size: 1.2rem;

            &.icon {
                font-size: 2rem;
            }
        }
    }

    hr {
        width: 50vw;
        border: 0.5px solid transparentize($color: #FFFFFF, $amount: .8);
        border-bottom: none;
    }

    form {
        width: 80vw;

        > div {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(113, 113, 113, 0.5);
            margin: 10px;
            font-size: 1.5rem;

            > div {
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        .bus-question {
            border-top: 1px dotted rgba(155, 155, 155, 0.5);
            padding-top: 10px;

            * {
                font-size: .8rem !important;
            }

            label {
                padding-right: 6px;

                span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
                    margin-right: 18px;
                }
            }
        }

        .name {
            display: flex;
            align-items: center;
        }

        @media (max-width: 650px) {
            align-items: unset;
        }
    }

    .message {
        text-align: center;
        width: 80vw;
        font-size: 1.2rem;
    }

    @media (min-width: 1000px) {
        .bus-info,
        form {
            width: 50vw;
        }
    }
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #4edb84 !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
    color: #1db858 !important;
}

span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
    font-size: 1.5rem;
}